<!DOCTYPE html>
<html>
<head>
    <title>Driver Account Deletion</title>
</head>
<body>
    <h1>Driver Account Deleted</h1>
    <p>Hello,</p>
    <p>This is to inform you that a driver account has been deleted from the system.</p>
    <p>Thank you,</p>
    <p>The Team</p>
</body>
</html>